body{
  background-color: #302A1A;
  color: #302A1A;
  background-repeat: no-repeat;
  overflow: auto;
  position: absolute;
}
.headerwrapper{
  font-family: 'Bitter', serif;
  font-size: 24pt;
}
.contentwrapper{
  font-family: 'Oxygen', sans-serif;
  font-size: 14pt;
}
.container{
  height: auto;
  width: auto;
  margin-bottom: -100%;
}
.tab-button{
  border-radius: 10px;
  background-color: #C45B16;
  color: #302A1A;
  font-family: 'Oxygen', sans-serif;
}
h3{
  color: #302A1A;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0px;
  font-size: 40pt;
  display: block;
}
h5{
  font-size: 20px;
  display: inline-block;
  padding-right: 10%;
}
.pic{
  margin-top: 10px;
  width: 80%;
  /*height: 100%;*/
  border-radius: 50%;
  display: inline-block;
}
.background{
  margin-left: 15%;
  margin-right: -15%;
  background-color: #F5ECD3;
}
.email{
  font-size: 20pt;
}
#linknav{
  position: relative;
  right: -8%;
  margin-top: 5%;
  display: inline-block;
  text-align: left;
  float: right;
  vertical-align: top;
}
a:link{
  text-decoration: none;
  /*color: #16AD9D;*/
}
a:hover{
  /*color: darkgrey;*/
}
a:visited{
  text-decoration: none;
  /*color: #B9E3C7;*/
}
a:visited:hover{
  /*color: blue;*/
}
.tab-content{
  padding: 5px;
  border-radius: 10px;
  background-color: #C45B16;
  color: #F5ECD3;
  /*display: block;*/
}
.linkli{
  display: inline-block;
}
.tab-nav{

}
#aboutme{
  text-align: center;
  display: inline-block;
}
#project1{
  padding-left: 10px;
  text-align: center;
  display: inline-block;
}
#project2{
  padding-right: 10px;
  text-align: center;
  display: inline-block;
}
#project3{
  padding-left: -10px;
  text-align: center;
  display: inline-block;
}
#project4{
  padding-right: 10px;
  text-align: center;
  display: inline-block;
}
#skills{
  margin-top: 10%;
  text-align: center;
  display: inline-block;
}
#whoami{
  position: relative;
  margin-top: 5%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.projpic{
  margin-left: 6%;
  display: block;
  width: 90%;
  height: 90%;
}
#picture{
  position: relative;
  float: left;
  vertical-align: top;
}
