a:-webkit-any-link {
    text-decoration: none;
}
.aboutme{
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 3rem;
  text-align: center;
}
body{
  font-family: 'Dosis', sans-serif;
  background-color: #FFF;
}

.iconcircle{
  margin-top: 4rem;
  height: 12.8rem;
  border-radius: 50%;
  background-color: #16AD9D;
  text-align: center;
  margin-left: 6rem;
  margin-right: 6rem;
}

.contactinfo{
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-left: 6rem;
  margin-right: 6rem;
  text-align: center;
}

.contacticon{
  color: #FFF;
  line-height: 1rem;
  margin-top: -0.5rem;
  padding-top: 50%;
}

.contacticon:hover{
  color: #B9E3C7;
}

.contactrow{
  text-align: center;
}

.header{
  position: relative;
  top: 3rem;
  vertical-align: middle;
}
.htags{
  display: inline-block;
}

.iconpad{
  margin-top: 4rem;
  background-color: #FFF;
  text-align: center;
}

.icon{
  background: #FFF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FFF, #B9E3C7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFF, #B9E3C7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFF, #B9E3C7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFF, #B9E3C7); /* Standard syntax */
  text-align: center;
  font-size: 2.4rem;
}
.iconname{
  margin-top: 0;
}
h1{
  color: #302A1A;
  font-size: 5.0rem;
}
h4{
  color: #302A1A;
  font-size: 3.0rem;
}
h5{
  color: #C45B16;
  font-size: 2.4rem;
}
.nav-links{
  display: inline-block;
  float: right;
  position: relative;
  top: 7.5rem;
}
.name-tag{
  margin: 0 auto;
  display: inline-block;
  float: left;
}
.profpic{
  margin-right: 1.5rem;
  display: inline-block;
}
ul {
    list-style-type: none;
    /*overflow: hidden;*/
    /*background-color: #333;*/
}

li {
    display: inline-block;
    float: left;
}

li a {
    display: block;
    color: #302A1A;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 24px;
    margin-right: 24px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #C45B16;
}

li a:hover {
    border-width: thin;
    border-bottom: solid .25rem #C45B16;
}


div {
  box-sizing: border-box;
}

p{
  height: auto;
  font-size: 2.4rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding-top: 1.5rem;
  margin-left: 17%;
  margin-right: 17%;
}

span{
  font-size: 2.4rem;
}

.mainpage{
  margin-left: 15px;
}

.projecthead{
  background: #16AD9D; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#16AD9D, #B9E3C7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#16AD9D, #B9E3C7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#16AD9D, #B9E3C7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#16AD9D, #B9E3C7); /* Standard syntax */
  font-size: 3.6rem;
  margin-top: 6rem;
  color: #FFF;
  text-align: center;
  border-radius: 12px;
  padding: 3rem;
  margin-left: 17%;
  margin-right: 17%;
}

.projectbuttons{
  background: #16AD9D;
  margin-top: 4rem;
  color: #FFF;
  /*margin-left: 17%;
  margin-right: 17%;*/
  text-align: center;
}

.pagehead{
  background: #16AD9D; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#16AD9D, #B9E3C7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#16AD9D, #B9E3C7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#16AD9D, #B9E3C7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#16AD9D, #B9E3C7); /* Standard syntax */
  font-size: 3.6rem;
  margin-top: 6rem;
  color: #FFF;
  text-align: center;
  border-radius: 12px;
  padding: 3rem;
  margin-left: 17%;
  margin-right: 17%;
}

.randquote{
  background: #16AD9D; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#16AD9D, #B9E3C7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#16AD9D, #B9E3C7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#16AD9D, #B9E3C7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#16AD9D, #B9E3C7); /* Standard syntax */
  font-size: 4.2rem;
  margin-top: 6rem;
  color: #FFF;
  text-align: center;
  border-radius: 12px;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  margin-left: 17%;
  margin-right: 17%;
}

.resumeinfo{
  height: auto;
  font-size: 2.4rem;
  margin-top: 1rem;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin-left: 17%;
  margin-right: 17%;
}

.resumeinfo2{
  height: auto;
  font-size: 2.4rem;
  margin-top: 1rem;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin-left: 17%;
  margin-right: 17%;
}

.resumebuttons{
  text-align: center;
  padding-bottom: 1.5rem;
  margin-left: 17%;
  margin-right: 17%;
}

.resumebuttons2{
  margin-top: 2.5rem;
  text-align: center;
  padding-bottom: 1.5rem;
  margin-left: 17%;
  margin-right: 17%;
}

.skillrow1{
  margin-bottom: 1rem;
  /*height: 1000px;*/
}
/*.skillrow2{
  height: 1rem;
}*/

#pdfbtn{
  border: none;
  font-size: 1.4rem;
  font-family: 'Dosis', sans-serif;
  background: #C45B16;
  margin-left: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #FFF;
}

#pdfbtn:hover {
  border: none;
  color: #FFF;
  background: #16AD9D; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#16AD9D, #B9E3C7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#16AD9D, #B9E3C7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#16AD9D, #B9E3C7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#16AD9D, #B9E3C7); /* Standard syntax */
}

#githublink{
  color: #C45B16;
}

#viewbtn{
  border: none;
  font-size: 1.4rem;
  font-family: 'Dosis', sans-serif;
  background: #C45B16;
  margin-right: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #FFF;
}

#viewbtn:hover {
  border: none;
  color: #FFF;
  background: #16AD9D; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#16AD9D, #B9E3C7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#16AD9D, #B9E3C7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#16AD9D, #B9E3C7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#16AD9D, #B9E3C7); /* Standard syntax */
}

#modal1 {
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

#close-modal1 {
  position: absolute;
  top: 1rem;
  left: 34rem;
  z-index: 2;
  font-size: 1.5em;
  font-family: 'Dosis', sans-serif;
  height: 1em;
  width: 1em;
  font-weight: bolder;
  text-align: center;
  color: black;
  visibility: visible;
}

#close-modal1:hover {
  cursor: pointer;
}

#modal2 {
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

#close-modal2 {
  position: absolute;
  top: 1rem;
  left: 34rem;
  z-index: 2;
  font-size: 1.5em;
  font-family: 'Dosis', sans-serif;
  height: 1em;
  width: 1em;
  font-weight: bolder;
  text-align: center;
  color: #FFF;
  visibility: visible;
}

#close-modal2:hover {
  cursor: pointer;
}

#modal3 {
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

#close-modal3 {
  position: absolute;
  top: 1rem;
  left: 34rem;
  z-index: 2;
  font-size: 1.5em;
  font-family: 'Dosis', sans-serif;
  height: 1em;
  width: 1em;
  font-weight: bolder;
  text-align: center;
  color: black;
  visibility: visible;
}

#close-modal3:hover {
  cursor: pointer;
}

#modal4 {
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

#close-modal4 {
  position: absolute;
  top: 1rem;
  left: 34rem;
  z-index: 2;
  font-size: 1.5em;
  font-family: 'Dosis', sans-serif;
  height: 1em;
  width: 1em;
  font-weight: bolder;
  text-align: center;
  color: black;
  visibility: visible;
}

#close-modal4:hover {
  cursor: pointer;
}

.modal-button {
  font-size: 3rem;
  background-color: #C45B16;
  height: 20rem;
  border-radius: 12px;
}

.modal-button:hover {
  color: #FFF;
  background: #16AD9D; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#16AD9D, #B9E3C7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#16AD9D, #B9E3C7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#16AD9D, #B9E3C7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#16AD9D, #B9E3C7); /* Standard syntax */
}

.modal-content {
  position: relative;
  margin: 0 35%;
  background-color: white;
  top: 10%;
  width: 40%;
}

.modal-body {
  position: absolute;
  width: auto;
  top: 10px;
  z-index: 1;
  font-size: 4.2rem;
  color: white;
}

.projpic {
  border: 1px solid black;
  border-radius: 12px;
}

button {
  padding: 1em;
  font-size: .75em;
  color: white;
  border: none;
}

button:hover {
  cursor: pointer;
}
